.pdp-page {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  justify-content: space-between;
  margin: 21px 70px 0 70px;
}

.pdp-page section {
  flex-grow: 1;
  max-width: 500px;
}

.pdp-aside {
  max-width: 1000px;
  margin: 100px auto 80px;
}

@media (max-width: 768px) {
  .pdp-page {
    flex-direction: column;
    margin: 18px;
  }

  .pdp-aside {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 0 18px;
  }
}
