.product-info {
  margin-top: 50px;
  margin-bottom: 25px;
}

.product-info .title {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 96%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 5px;
}

.product-info .description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #000000;
  margin: 0 0 8px;
}

.product-info .price {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

@media (max-width: 768px) {
  .product-info .title {
    font-size: 32px;
  }
}
