.header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  flex-wrap: wrap;
  margin: 21px 20px 40px 70px;
}

.header nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.header .title {
  margin: 10px 0 0;
}

.header .title a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 1024px) {
  .header {
    margin: 18px 18px 20px;
    align-items: center;
  }

  .header .title {
    margin: 0;
  }

  .header nav {
    display: none;
  }
}
