body {
  margin: 21px 20px 0 70px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-link {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
