body {
  margin: 0;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-link {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .hidden-desktop {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hidden-mobile {
    display: none;
  }

  .hidden-desktop {
    display: block;
  }
}
